@font-face {
	src: url("../fonts/beaufortforlol-medium.otf");
	font-family: "Beaufort";
	font-weight: 500;
}

@font-face {
	src: url("../fonts/beaufortforlol-bold.otf");
	font-family: "Beaufort";
	font-weight: 100;
}

@font-face {
	src: url("../fonts/Roboto-Regular.ttf");
	font-family: "Roboto";
	font-weight: 300;
}

@font-face {
	src: url("../fonts/Roboto-Medium.ttf");
	font-family: "Roboto";
	font-weight: 500;
}


body {
	margin: auto auto;
	font-family: "Beaufort";
	font-weight: 100;
	background-color: #000;
}

.background {
	background-image: url("../images/background.png");
	background-position-x: 55%;
	background-position-y: 0.1rem;
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
	justify-content: center;
}

.container {
	padding-top: 0px;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header {
	display: flex;
	justify-content: center;
	background-image: url("../images/nav-background.png");
	max-height: 60px;
}
.header img{
	transition: width 1s;
	border-radius: 90%;
	padding: 3px;
	margin: 50px;
	background-color: #535353a6;
}
.header img:hover {
	width: 55px;
	box-shadow: 0 0 1em rgba(2, 2, 1, 0.336);
  }
.header .nav {
	display: flex;
	align-items: center;
	margin: 10px;
}

.header a {
	display: flex;
	margin: 50px;
	padding: 5px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: white;
	text-decoration: white;	
	transition: width 2s;
}
 
.header a:hover {
	color: orange;

  }

.main {
	display: flex;
	justify-content: center;
	padding-top: 190px;

}
.start {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px 0px 10px;
	margin: 150px auto;
	max-width: 900px;
}

.start__button {
	display: flex;
	flex-direction: column;
	background-image: url("../images/start-background.png");
	color: #54200e;
	padding: 55px 38px;
	text-align: center;
	text-decoration: none;
}

.start__button-caption {
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.start__button-desc {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 1px;
	margin-left: 8px;
	letter-spacing: 0.24em;
}

.info {
	display: flex;
	flex: 1;
	margin-left: 2px;
	max-height: 180px;
	background-image: url("../images/info-background.png");
	box-shadow: 3px 4px black, -1em 0 0.8em black;
}

.info__box {
	padding-right: 55px;
	border-right: 1px solid #616060;
    text-decoration: none;
}

.info__box:last-child {
	border-right: none;
}

.info__icon {
	width: 108px;
	height: 115px;
	display: inline-block;
	margin-top: 36px;
	margin-left: 10px;
}

.info__text {
	display: inline-block;
	vertical-align: top;
	padding: 60px 0px;
	color: #fff;
}

.info__caption {
	font-size: 24px;
	text-transform: uppercase;
}

.info__desc {
	font-family: "Roboto";
	font-size: 14px;
	margin-top: 4px;
	font-weight: 100;
	color: #f0eae7;
}

.status {
	width: 185px;
	padding-right: 0;
	position: relative;
}

.status__rate {
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin-top: 62px;
}

.status__chronicle {
	font-family: "Roboto";
	color: #f0eae7;
	font-size: 14px;
	text-align: center;
}

.slider {
	background: gray;
	overflow: hidden;
	padding: 10px 150px 10px 150px;
	min-height: 300px;
	max-width: 900px;
	border: 4px solid coral;

}

.container-slide{
	display: flex;
	justify-content: center;
	margin: auto auto;
}
.slider__items {
	transition: all, .25s;
	display: flex;
	flex-wrap: wrap;
}

.slider__item {

}

.slider__caption {
	font-size: 38px;
	text-transform: uppercase;
	color: #fff;
}

.slider__caption span {
	color: #ffee0063;
}

.slider__desc {
	font-family: "Roboto";
	font-size: 24px;
	font-weight: 100;
	color: #292828;
	margin-top: 12px;
	line-height: 24px;
}

.slider__link {
	background-image: url("../images/button.png");
	background-repeat: no-repeat;
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	color: #54200e;
	margin-top: 22px;
	padding: 14px 18px;
	line-height: 20px;
	letter-spacing: 0.06em;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
}

.slider__nav {
	display: inline-flex;
	margin-top: 35px;
	margin-left: 42px;
}

.slider__prev {
	background-image: url("../images/slider-prev.png");
	width: 14px;
	height: 25px;
	cursor: pointer;
}

.slider__next {
	background-image: url("../images/slider-next.png");
	width: 14px;
	height: 25px;
	cursor: pointer;
}

.slider__dots {
	display: flex;
	margin-left: 18px;
	margin-top: 7px;
}

.slider__dot {
	width: 10px;
	height: 10px;
	background: #383638;
	border-radius: 50%;
	margin-right: 18px;
	cursor: pointer;
}

.slider__dot--active {
	background: #fdc268;
}

.news {
	display: flex;
	justify-content: center;
	margin-top: 8px;
	padding-bottom: 55px;
	border-bottom: 1px solid #1e1e1e;
}

.news__posts {
	width: 930px;
	display: inline-flex;
	flex-wrap: wrap;
	vertical-align: top;
}

.news__post {
	padding-bottom: 35px;
	width: 308px;
	margin-right: 3px;
}

.news__post:last-of-type {
	margin-right: 0px;
}

.news__date {
	background-image: url("../images/news-date.png");
	width: 72px;
	height: 74px;
	margin-left: 25px;
	margin-top: 22px;
}

.news__date-day {
	color: #ffd200;
	padding-top: 16px;
	text-align: center;
	font-size: 20px;
}

.news__date-month {
	font-family: "Roboto";
	font-size: 10px;
	line-height: 5px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.news__content {
	padding: 0px 40px;
	margin-top: 100px;
}

.news__caption {
	font-size: 26px;
	color: #fff;
}

.news__desc {
	font-family: "Roboto";
	color: #999999;
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 24px;
}

.news__link {
	font-family: "Roboto";
	font-size: 16px;
	color: #c0c0c0;
}

.news__all {
	background-image: url("../images/news-all-button-background.png");
	width: 100%;
	margin-top: 3px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	padding: 15px 0px;
	letter-spacing: 0.1em;
	color: #8a8a8a;
}

.discussion {
	background-image: url("../images/discussion-background.png");
	display: inline-block;
	width: 306px;
	padding-bottom: 36px;
}

.discussion__header {
	width: 306px;
	border-bottom: 1px solid #302e2e;
}

.discussion__icon {
	background-image: url("../images/info-icon.png");
	width: 90px;
	height: 88px;
	background-size: 100%;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: -12px;
	display: inline-block;
}

.discussion__text {
	display: inline-block;
	vertical-align: top;
}

.discussion__caption {
	font-size: 24px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 30px;
}

.discussion__desc {
	font-family: "Roboto";
	font-size: 12px;
	margin-top: 4px;
	margin-left: 2px;
	color: #999999;
}

.discussion__container {
	font-family: "Roboto";
	padding: 0px 40px 4px 40px;
	margin-top: 30px;
	font-weight: 100;
}

.discussion__topic {
	font-size: 15px;
	color: #c2c2c2;
	display: block;
	text-decoration: none;
	line-height: 20px;
}

.discussion__date {
	font-size: 13px;
	color: #7c7c7c;
	margin-top: 8px;
	display: inline-block;
	vertical-align: top;
}

.discussion__author {
	display: inline-block;
	margin-top: 8px;
	vertical-align: top;
	font-size: 13px;
	color: #e8b422;
	text-decoration: none;
}

.footer-background {
	display: flex;
	flex-direction: column;
	background-image: url("../images/footer-background.png");
	border-top: 1px solid #1e1e1e;
	min-width: 1240px;
}

.footer {
	display: flex;
	justify-content: center;
	font-family: "Roboto";
	padding-top: 12px;
	padding-bottom: 26px;
}

.footer__info {
	width: 400px;
	display: inline-block;
	margin-right: 30px;
}

.footer__logo {
	background-image: url("../images/footer-logo.png");
	width: 160px;
	height: 50px;
}

.footer__copyright {
	font-size: 10px;
	color: #474646;
	margin-top: 10px;
	line-height: 16px;
}

.footer__section {
	display: inline-block;
	vertical-align: top;
	margin-left: 100px;
	margin-top: 6px;
}

.footer__link {
	display: block;
	color: #58534b;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 15px;
}

.footer__socials-items {
	display: inline-block;
	vertical-align: top;
	float: right;
	margin-top: 4px;
}

.footer__social-item {
	display: inline-block;
	font-size: 24px;
	margin-left: 5px;
	color: #443d37;
}

/**/

.progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 3px;
	background: #29d;
	box-shadow: 0 0 3px #29d;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #000;
	border: none;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	text-align: center;
	line-height: 100px;
	display: none;
}

.round-progress {
	fill: none;
	stroke: #ffb515;
	stroke-width: 4;
	stroke-dasharray: 1000;
}

.svg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	transform: rotate(-90deg);
}